[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #FFCD00;
    --md-default-bg-color: #232323;
    --md-code-bg-color: #181818;
    --md-footer-bg-color: #FFCD00;
    --md-footer-bg-color--dark: #FFCD00;
}

.md-header {
    color: #232323;
}

.md-header__topic:first-child {
    font-weight: 500;
}

.md-footer {
    color: #232323;
}

.md-footer-meta {
    display: none;
}

.checkbox {
    accent-color: var(--md-primary-fg-color);
    height: 25px;
    width: 25px;
}

.radio {
    accent-color: var(--md-primary-fg-color);
    height: 25px;
    width: 25px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 23px;
    height: 23px;
    border: 4px solid rgba(23, 23, 23, .7);
    border-radius: 50%; 
    background: var(--md-primary-fg-color);
    cursor: pointer;
    outline: 1px solid var(--md-primary-fg-color);
}

.slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border: 2px solid rgba(23, 23, 23, .7);
    border-radius: 50%;
    background: var(--md-primary-fg-color);
    cursor: pointer;
    outline: 2px solid var(--md-primary-fg-color);
}